.set_post{
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  animation: show .7s;
}

@keyframes show {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.set_post::-webkit-scrollbar{
  display: none;
}

.set_post_header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.set_post_header button{
  padding: 10px 20px;
  background-color: var(--principal-color);
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: all .2s;
}

.set_post_header button:active{
  transform: scale(0.90);
}

.set_post h2{
  color: var(--principal-color);
  font-weight: bold;
}

.set_post form{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.set_post input{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 80%;
  padding:5px 10px ;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--principal-color);
}

.set_post select{
  width: 350px;
  margin-right: 100px;
  margin-left: 5px;
  background-color: var(--principal-color);
  border: none;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
.set_post label{
  width: 50%;
  font-size: 18px;
  color: var(--grey-color);
  font-weight: bold;
  margin-bottom: 10px;
}

.set_post textarea{
  width: 100%;
  border: 2px solid var(--principal-color);
  min-height: 400px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.select_container{
  margin: 20px 0px;
}

.update_image_container{
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}



.custom_file_input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.update_image_container label{
  width: 100%;
}

.custom_file_input input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom_button {
  padding: 10px 20px;
  background-color: var(--principal-color);
  border-radius: 5px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.update_image_preview{
  border:10px solid var(--principal-color-opacity);
  border-style: dotted;
  width: 70%;
  aspect-ratio: 16/9;
  display: flex;
  place-content: center;
  position: relative;
  padding: 10px;
}

.update_image_preview::before{
  position: absolute;
  content: '📤';
  font-size: 150px;
  left: 40%;
  top: 30%;
  z-index: -1;
  opacity: .3;
}

.update_image_preview img{
  width: 100%;
  object-fit: contain;
}
