.footer{
  width: 100%;
  background-color: var(--principal-color-opacity);
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.footer_center{
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_center li {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer_center  li a{
  font-size: 20px;
  transition: .2s;
  color: var(--grey-color);
  font-weight: 600;
  font-size: 16px;
}

.footer_center li a:hover{
  color: var(--principal-color);
}

.footer_credits a{
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--grey-color);
  font-family: var(--titles);
  font-weight: 600;
  font-size: 12px;
}

.footer_credits img{
  width: 80px;
  background-color: var(--grey-color);
  padding: 5px 10px;
  border-radius: 5px;
}

@media screen and (max-width:480px) {
  .footer_center img{
    width: 50px;
  }

  .footer_center{
    font-size: 12px;
    flex-direction: column;
    gap: 30px;
  }

  .footer_center li a svg{
    font-size: 20px;
  }

  .footer{
    padding: 30px 0px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
}