.articles_container{
  max-width: 1200px;
  width: 100%;
  padding: 20px 10px;
}

.articles_title{
  color: #fff;
  font-size: 28px;
  margin-bottom: 25px;
}

.post_title{
  color: var(--principal-color);
  font-size: 16px;
}
.articles_container p{
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.articles_list{
  display: flex;
  gap: 10px;
}

.listItem span{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--principal-color);
  font-size: 14px;
}

.listItem a{
  color: none;
}

@media screen and (max-width:600px) {
  .articles_list{
    justify-content: space-around;
  }
}