.post_item{
  width: 100%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  flex-direction: column;
  animation: showItem .5s;
  transition: all .2s;
}

.post_item_poster{
  width: 100%;
}

.post_item:hover{
  transform: translateY(-10px);
}

.post_item_poster img{
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1 ;
  border-radius: 10px 10px 0px 0px;
}
._item_title_container{
  padding: 10px;
}



.post_item_title{
  color: #000;
  overflow-wrap: break-word;
  font-size: 16px;
}
