.social_network_container{
  display: flex;
  gap: 10px;
}

.social_network_container a{
  display: flex;
  align-items: center;
  font-size: 25px;
  color: #fff;
  transition: .2s;
}

.social_network_container a:hover{
  color: var(--accent-100);
}