.user_container{
  position: relative;
  display: flex;
  align-items: center;
}

.user_container > svg{
  display: none;
  font-size: 24px;
  color: var(--principal-color);
}

.user{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.user_mobile{
  display: none;
}

.user img{
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 25px;
}

.user span{
  color: var(--principal-color);
  font-weight: bolder;
}

.menu_show{
  padding: 10px 0px;
  opacity: 1;
  height: auto;
}

.menu_hidden{
  height: 0px;
  padding:0px;
  opacity: 0;
}

.menu{
  position: absolute;
  background: rgba(255, 255, 255, 1);
  width: 250px;
  top:50px;
  left: -50%;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  transition: .5s;
  overflow: hidden;
}

.menu svg{
  align-self: flex-end;
  margin-right: 10px;
  font-size: 24px;
  display: none ;
}

.menu::before{
  content: "▲";
  color: rgba(255, 255, 255, 1) ;
  position: absolute;
  top:-14px;
  left: 50%;
}

.menu li{
  margin-left: 15px;
}

.menu li a, .menu button{
  font-size: 16px;
  color: var(--grey-color);
  opacity: 1;
  font-weight: bold;
  cursor: pointer;
}

.menu li a:hover{
  color: var(--principal-color);
}

.menu button{
  background: none;
  border: none;
}

.menu button:hover{
  color: red;
}

@media screen and (max-width:820px) {
  .user_container{
    position: initial;
  }
  .user_container > svg{
    display: block;
  }
  .user{
    display: none;
  }

  .user_mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
  }

  .user_mobile span{
    font-size: 28px;
    color: var(--principal-color);
    font-weight: bold;
  }

  .user_mobile img{
    width: 25%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }

  .menu{
    top: 0;
    left: 0;
    border-radius: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .menu svg{
    display: block;
  }
  .menu li a, .menu button{
    font-size: 24px;

  }
  .menu li:has(button){
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .menu button{
    background-color: #f2f2f2;
    border: 2px solid red;
    padding: 10px 0px;
    border-radius: 10px;
    width: 80%;
    justify-content: center;
    color: red;
    margin-top: 20px;
    transition: all .5s;
  }

  .menu button:active{
    transform: scale(0.90);
  }

  .menu_show{
    padding: 10px 0px;
    opacity: 1;
    width: 50vw;
  }
  
  .menu_hidden{
    width: 0px;
    padding:0px;
    opacity: 0;
  }
  
}

@media screen and (max-width:600px) {
  .user_mobile span{
    font-size: 22px;
    color: var(--principal-color);
    font-weight: bold;
  }

  .user_mobile img{
    width: 25%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
  }
  .menu_show{
    width: 100vw;
  }
  .menu li a, .menu button{
    font-size: 18px;

  }
}